@import "tailwindcss";

@theme {
  --color-growseri-green: #11a346;
  --color-growseri-green-dark: #0c7631;
  --color-growseri-yellow: #fbc610;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

[x-cloak] {
    display: none !important;
}
